# Ignore test files everywhere
**/tests
**/pytest.ini
**/run_tests.sh

# Ignore generated directories from dev env everywhere
**/__pycache__
**/.pytest_cache
**/.venv

# Other unnecessary files everywhere
**/requirements.txt
