# Ignore test files everywhere
**/tests
**/pytest.ini
**/run_tests.sh

# Ignore generated directories from dev env everywhere
**/__pycache__
**/.pytest_cache
**/.venv

# Ignore models directory
**/.models

# Other unnecessary files everywhere
**/requirements.txt

# Demo Client
demo-client
